#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Install OS instead of upgrade
install

# Use CDROM installation media
#cdrom

# Use text install
text

# Run the Setup Agent on first boot
firstboot --enable
# System services
services --disabled="chronyd"
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

#ignoredisk --only-use=sda
# Network information
network  --bootproto=static --device=eth0 --ipv6=auto --activate --onboot yes --ip 192.168.0.2 --netmask 255.255.255.0 --gateway=192.168.0.1 --hostname meenzoon

# Root password
rootpw --iscrypted 
# System timezone
timezone Asia/Seoul --isUtc --nontp
# System bootloader configuration
bootloader --location=mbr
# Partition clearing information
clearpart --all --initlabel
autopart --type=lvm

%packages
@^minimal
@base
@core
@debugging
@desktop-debugging
@development
@java-platform
@mariadb
@performance
@perl-runtime
@python-web
chrony
kexec-tools
net-tools
wget

%end

%addon com_redhat_kdump --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
#/bin/mkdir 
%end
